.header_container {
  position: sticky;
  top: 0;
  z-index: 100;
  background: black;
  color: greenyellow;
  border-bottom: 3px solid greenyellow;
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}
.header_container a,
.header_container {
  color: greenyellow;
}
@keyframes glow {
  from {
    text-shadow: 0 0 20px greenyellow;
  }
  to {
    text-shadow: 0 0 30px orange, 0 0 10px orange;
  }
}
.header_container .logo a {
  font-size: 2rem;
  letter-spacing: 2px;
  animation: glow 2s ease-in-out infinite alternate;
}

.header_container .menu .dropdown-menu {
  transform: translateX(-78px);
}
.header_container .menu .dropdown-item:hover {
  background: black;
  color: red;
}

.header_container .navbar-toggler {
  border: 2px solid greenyellow;
  background: rgba(0, 0, 0, 0.5);
}
.header_container .dropdown-toggle::after {
  display: none;
}
.header_container .navbar-toggler::after {
  content: '🌏';
  font-size: 2rem;
}
.header_container .navbar-toggler .navbar-toggler-icon {
  display: none;
}
.header_container .dropdown-menu {
  background: black;
}
.header_container .dropdown-divider {
  color: orange;
}
.header_container .dropdown-menu .btn-3 {
  width: 100%;
  max-width: 100vw;
}
/* SEARCH */

.header_container input {
  width: 100%;
  min-width: 500px;
  background: black;
  outline: none;
  border: none;
  border-bottom: 3px solid greenyellow;
  color: orange;
  font-size: 1.2rem;
  text-indent: 1em;
}
.header_container input::placeholder {
  color: orange;
}
.header_container .search_container .results_container {
  height: 400px;
  overflow: auto;
  border-radius: 10px;
  border: 2px solid greenyellow;
  border-top: none;
}

.header_container .search_container {
  position: relative;
}
.header_container .search_container .results_container {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  background: black;
}
.header_container .search_container .results_container::-webkit-scrollbar {
  display: none;
}
.header_container .search_container .clear_search_Btn {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateY(460px);
  cursor: pointer;
  border: 3px solid crimson;
  border-radius: 10px;
  padding: 10px;
  background: black;
  color: orange;
}

.header_container .search_container .clear_search_Btn:hover {
  background: crimson;
  border: 3px solid crimson;
  color: black;
  font-weight: 600;
  z-index: 3;
}
.header_container .search_container .result_container {
  display: flex;
  margin: 10px;
  border-bottom: 2px solid greenyellow;
  max-height: 200px;
}
.header_container .search_container .result_container:hover {
  background: rgba(255, 255, 255, 0.2);
}
.header_container .search_container .result_container .info {
  padding: 0 10px;
  overflow: auto;
}
.header_container .search_container .result_container .info .name {
  font-size: larger;
}
.header_container .search_container .result_container .info .date {
  font-size: smaller;
  opacity: 0.7;
}
.header_container .search_container .clear_icon {
  position: absolute;
  top: 0;
  right: 0;
  color: crimson;
  z-index: 3;
  font-size: 1.5rem;
  transform: translateY(-3px);
  cursor: pointer;
}

@media (max-width: 992px) {
  .header_container {
    padding: 20px 10px;
  }
  .header_container .menu {
    width: 100%;
    max-width: 100vw;
  }
  .header_container .navbar-toggler {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    z-index: 3;
    background: black;
  }
  .header_container .menu .dropdown-menu {
    transform: translateX(0);
  }
}
/* mobile responsive */
@media (max-width: 600px) {
  .header_container {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }
  .header_container .logo {
    margin: 5px;
  }
  .header_container input {
    width: 100%;
    min-width: 100px;
    min-width: 100vw;
    display: block;
    margin-top: 20px;
    border-bottom: none;
  }
  .header_container .search_container .results_container {
    transform: translateY(10px);
    border: 2px solid greenyellow;
  }
  .header_container .search_container .clear_icon {
    transform: translate(-5px, 16px);
  }
}
